{%extends 'base/base.html' %}
{% load static %}
{% block contenido %}

<style>
    .errorlist{
        list-style-type:none;
    }
</style>

<div class="panel panel-primary" id="panel_carga" style="margin-top: 10px;">
    <div class="panel-heading">
        Cargar Rendicion
    </div>
    <div class="row" style="margin-left: 4px; margin-top: 10px;">
        <div class="col-sm-12 form-group">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.source.errors }}
                {{ form.source }}
                <div class="col-sm-4">
                    <div>
                        {{ form.archivoRendicion }} </br>
                    </div>                
                    <button type="submit" class="btn btn-success">
                        <span class="fa fa-check"></span> Cargar</button>
                </div>
                <div class="col-sm-8">
                    {% for error in form.non_field_errors %}
                    <div style="text-align:left;">
                        <h3 class="text-danger">
                            <span class="fa fa-exclamation-triangle"></span> {{error}}</h3>
                    </div>
                    {% endfor %}                    
                </div>                
            </form>
        </div>
    </div>
</div>

<div class="panel panel-primary" id="panel_ultimas_rendiciones">
    <div class="panel-heading">
        Ultimas Rendiciones
    </div>
    <div class="panel-body">
        <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
            <thead>
                <tr>
                    <th>Empleado</th>
                    <th>Fecha Semana</th>
                    <th>Aprobada</th>
                    <th>Fecha Creacion</th>
                    <th>Estado</th>
                    <th>Incremento</th>
                    <th>Egreso</th>
                    <th>Total Rendicion</th>                    
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for item in listado %}
                <tr>
                    <td style="display: none;">{{item.id}}</td>
                    <td>{{ item.Caja.usuarioCaja.last_name}} {{ item.Caja.usuarioCaja.first_name}} </td>
                    <td>{{ item.fechaInicioSemana|date:'d/m/Y ' }}</td>
                    <td>{{ item.aprobada|yesno:"Aprobada,Pendiente"}}</td>
                    <td>{{ item.fecha|date:'d/m/Y' }}</td>
                    <td>{{ item.cerrada|yesno:"Cerrada,Abierta"}}</td>
                    <td class="text-right">{{ item.totalIncremento}}</td>
                    <td class="text-right">{{ item.totalEgreso}}</td>
                    <td class="text-right">{{ item.totalRendicion}}</td>                    
                    <td>                       
                        <a href="{% url 'caja:caja_detalle_rendicion' item.id %}" class="btn btn-info"> Detalles
                        </a>                        
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock contenido %}
{% block extrajs %}
<script>
    $(function () {
        var rendicionCargada = "{{ rendicionCargada }}";
        var error = "{{ error }}";                
        if (rendicionCargada == "True") {
            notificacionSuccess("Rendicion cargada correctamente")
        }
            
        if (error.length !== 0){
            notificacionError(error);
        }        
    })
</script>
{% endblock extrajs %}